<!DOCTYPE html>
<html>
  <head>
    <title>Garner Tech University</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <div class="container"
          <div class="nav-wrapper">
            <a href="#" class="brand-logo right">G.T.U</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li><a href="courses/new">Courses</a></li>
              <li><a href="#">Enrollment</a></li>
              <li><a href="#">Account</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Garner Tech University</h5>
            <p class="grey-text text-lighten-4">Learning tech skills that will land you a job in today's competitive market.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Help</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">About Us</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2021 Garner Tech University
        </div>
      </div>
    </footer>
  </body>
</html>
